:root{
    --primary-text: #f7f8f8;
    --secondary-text: #d0d6e0;
    --tertiary-text: #8a8f98;
    --quaternary-text: #62666d;
}

html{
    box-sizing: border-box;
}

body{
    background-color: black;
    margin: 0 !important;
    color: var(--primary-text);
    font-family: "Inter";
    font-size: min(3.077vw, 16px);
}

.container{
    padding: 0 10px !important;
}

section{
    display: flex;
    min-height: 100dvh;
}

#discordSection{
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

#discord{
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

#discordAvatar{
    position: relative;
    max-width: 100px;
    width: 19.231vw;
    top: max(-50px, -9.615vw);
    margin-bottom: max(-50px, -9.615vw);
    border-radius: 50%;
    outline: min(0.962vw, 5px) solid black;
    outline-offset: -1px;
}

#discordBanner{
    max-width: 480px;
    width: 92.308vw;
    border-radius: min(1.154vw, 6px);
}

#discordDisplayname{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: min(1.923vw, 10px);
}

#discordUsername{
    font-size: 0.8em;
    color: var(--secondary-text);
    user-select: text;
}

#discordApps{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: min(7.692vw, 40px);
    gap: min(1.923vw, 10px);
}

.discordApp{
    display: flex;
    border: min(0.385vw, 2px) solid rgba(255, 255, 255, 0.05);
    padding: min(1.923vw, 10px);
    border-radius: min(1.154vw, 6px);
    align-items: center;
}

.discordAppDetails{
    display: flex;
    flex-direction: column;
    margin-left: min(1.923vw, 10px);
    width: 100%;
}

.discordAppImages{
    display: flex;
    flex-direction: column;
}

.discordAppLargeImage{
    height: min(12.308vw, 64px);
    border-radius: min(0.769vw, 4px);
}

.discordAppSmallImage{
    position: relative;
    width: min(3.846vw, 20px);
    bottom: min(3.846vw, 20px);
    left: calc(100% - min(3.846vw, 20px));
    border-radius: 50%;
    outline: min(0.962vw, 5px) solid black;
    outline-offset: -1px;
    margin-bottom: max(-3.846vw, -20px);
    background-color: black;
}

.discordAppName{
    font-weight: bold;
    font-size: 0.9em;
    line-height: 1em;
    margin-bottom: min(0.385vw, 2px);
}

.discordAppDescription{
    font-size: 0.8em;
    line-height: 1.4em;
    color: var(--secondary-text);
}

.discordAppState{
    font-size: 0.8em;
    line-height: 1.4em;
    color: var(--secondary-text);
}

.discordAppTime{
    display: flex;
    align-items: center;
    color: #67D08A;
    font-size: 0.8em;
    gap: min(0.769vw, 4px);
    margin-top: min(0.385vw, 2px);
    line-height: 1.2em;
}

.discordAppTime svg{
    height: min(2.692vw, 14px);
    width: min(2.692vw, 14px);
}

.discordAppTrackTime{
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.discordAppTrackTime span{
    width: min(11.538vw, 60px);
}

.discordAppTrackTime span:nth-of-type(2){
    text-align: right;
}

.discordAppTrack{
    width: 100%;
    height: min(0.385vw, 2px);
    background-color: grey;
}

.discordAppTrackPointer{
    background-color: white;
    height: 100%;
}

#discordSocials{
    display: flex;
    gap: min(0.962vw, 5px);
    margin-top: min(1.923vw, 10px);
}

#discordSocials a{
    all: unset;
    border: min(0.385vw, 2px) solid rgba(255, 255, 255, 0.05);
    width: min(5.769vw, 30px);
    height: min(5.769vw, 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: min(0.769vw, 4px);
}

#discordSocials svg{
    width: min(3.077vw, 16px);
}

#discordSocials a:hover{
    cursor: pointer;
    border: min(0.385vw, 2px) solid rgba(255, 255, 255, 0.1);
}

tooltip{
    position: absolute;
    background-color: black;
    border: 1px rgba(255, 255, 255, 0.1) solid;
    padding: min(4px, 0.769vw) min(10px, 1.923vw);
    margin: min(5px, 0.962vw);
    border-radius: min(4px, 0.769vw);
    color: var(--secondary-text);
    font-size: 0.8rem;
    font-weight: bold;
}

@keyframes tooltip-show {
    0%{
        scale: 0.8;
        opacity: 0;
    }

    100%{
        scale: 1;
        opacity: 1;
    }
}

@keyframes tooltip-hide {
    0%{
        scale: 1;
        opacity: 1;
    }

    100%{
        scale: 0.8;
        opacity: 0;
    }
}